.main {
  color: #003767;
  text-align: center;
}

.btns {
  display: flex;
  margin-top: 50px;
  gap: 30px;
  justify-content: center;
}

.btn {
  padding: 20px 50px;
  background-color: #fff0f8;
  border: 2px solid #f0fff7;
  border-radius: 15px;
  box-shadow: 0 0 5px #f0fff7;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 15px #c9ffe2;
}

.btn__text {
  font-size: 20px;
  line-height: 22px;
}

.content {
  width: 80vw;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff0f8;
  border: 2px solid #f0fff7;
  border-radius: 15px;
  box-shadow: 0 0 5px #f0fff7;
  transition: all 0.3s ease;
}

.container {
  margin: 50px auto;
  padding: 0 20px;
  text-align: center;
}

.app {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

article {
  max-width: 300px;
  padding: 15px;
  background-color: #f0f8ff;
  border: 2px solid #f0fff7;
  border-radius: 15px;
  box-shadow: 0 0 5px #f0fff7;
}

.card__title {
  text-transform: uppercase;
}

.card__body {
  margin-top: 10px;
  font-size: 14px;
}
