{{!Home}}

{{> layout/head page-title="Test API"}}
<main class="main">
  <div class="btn">
    <span class="btn__text">Load</span>
  </div>
  <div class="content">
    <div class="container">
      <div id="app"></div>
    </div>
  </div>
</main>
{{> layout/bottom }}
