{{!Home}}

{{> layout/head page-title="Test API"}}
<main class="main">
  <div class="btns">
    <div class="btn js-more">
      <span class="btn__text">Load more</span>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div id="app"></div>
    </div>
  </div>
</main>
{{> layout/bottom }}
