{{!Users}}

{{> layout/head page-title="Test API"}}
<main class="main">
  <div class="btns">
    <div class="btn js-more-users">
      <span class="btn__text">Load more</span>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="app" id="users"></div>
    </div>
  </div>
</main>
{{> layout/bottom }}
